<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<div class="body">
    <nav class="nav-extended" style="background-color:#87AAAA; ">
        <div class="nav-wrapper">
            <a href="#" class=" brand-logo" style="margin-left: 20px; color:black;">Konstructiva app</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a style="color:white;" href="/proyecto/lista">Proyectos</a></li>
                <li><a style="color:white;" href="/cliente/lista">Clientes</a></li>
                <li><a style="color:white;" href="/ejecucion/contratost">Ejecucion</a></li>
                <li><a style="color:white;" href="collapsible.html">Personal</a></li>
                <li><a style="color:black;" href="/reportes/info-proyectos">Reportes</a></li>
                <a href="/login" class="btn btn-red">Cerrar sesión </a>

            </ul>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a style="color:white;" href="/reportes/info-proyectos">Información de proyectos</a>
                </li>
                <li class="tab"><a class="active" style="color:black;" href="/reportes/info-contratost">Información de
                        contratos temporales</a>
                </li>
                <li class="tab"><a style="color:white;" href="/reportes/info-grafica">Información Gráfica</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="caja">
        <table class="responsive-table">
            <thead>
                <tr>
                    <th>Nombre Proyecto</th>
                    <th>Número de contratos temporales</th>
                    <th>Total gastado en contratos temporales</th>
                </tr>
            </thead>
            <tbody>
                {{#each contratos}}
                <tr>
                    <td> {{#if this.dataValues.proyecto}}
                        {{this.dataValues.proyecto.dataValues.namep}}
                        {{else}}
                        <b style="color:#2E7373 ;">No hay un proyecto asignado</b>
                        {{/if}}
                    </td>
                    <td> {{#each this.dataValues.numero}}
                        {{this.dataValues.numero.count}}
                        {{else}}
                        <b style="color:#2E7373 ;">No existen contratos temporales para este proyecto</b>
                        {{/each}}
                    </td>
                    <td> {{this.dataValues.valor}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>