<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="body">
    <nav class="nav-extended p1" style="background-color:#87AAAA; ">
        <div class="nav-wrapper p1">
            <a href="#" class=" brand-logo" style="margin-left: 20px; color:black;"><b>Konstructiva app</b></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a style="color:white;" href="/proyecto/lista">Proyectos</a></li>
                <li><a style="color:white;" href="/cliente/lista">Clientes</a></li>
                <li><a style="color:white;" href="/ejecucion/contratost">Ejecucion</a></li>
                <li><a style="color:white;" href="/personal/lista">Personal</a></li>
                <li><a style="color:black;" href="/reportes/info-proyectos">Reportes</a></li>
                <a href="/login" class="btn btn-red"><b>Cerrar sesión</b> </a>

            </ul>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a style="color:white;" href="/reportes/info-proyectos">Información de proyectos</a>
                </li>
                <li class="tab"><a style="color:black;" href="/reportes/info-grafica">Información Gráfica</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row" style="background-color: #F6D7A7;">
    {{#if proyectos}}
        <script>
            let nombres = [];
            let valores = [];
            let nuevaLongitud1;
            let nuevaLongitud;
        </script>
        <div class="col-md-4" style="margin:30px;">
            <div class="card" style="border: 5px solid #87AAAA; background:#F6EABE;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted" style="text-align: center;">
                        <b class="p1">Comparación de presupuestos</b>
                    </h6>
                    <canvas id="Grafica" width="1" height="1" aria-label="Proyectos" role="img"></canvas>
                </div>
            </div>
        </div>
        {{#each proyectos}}
        <script>
            nuevaLongitud1 = nombres.push("{{this.dataValues.namep}}");
            nuevaLongitud = valores.push({{ this.dataValues.presupuesto }});
        </script>
        {{else}}
        <center>
            <div class="card mx-auto">
                <div class="card-body">
                    <p class="lead p1" style="text-align: center;">
                        Todavía no has registrado un proyecto
                    </p>
                    <a href="/proyecto/add" style="color:black" class="p1 btn btn-brown2 btn-block">
                        <b>Crear un proyecto</b>
                    </a>
                </div>
            </div>
        </center>
        {{/each}}
        <script>
            let grafica = document.getElementById("Grafica").getContext("2d");
            var chart = new Chart(grafica, {
                type: "pie",
                data: {
                    labels: nombres,
                    datasets: [{
                        label: "Total presupuestos",
                        data: valores,
                        backgroundColor: [
                            'rgba(192,64,0)',
                            'rgba(95,63,62)',
                            'rgba(142,55,46)',
                            'rgba(130,58,63)',
                            'rgba(203,109,81)'
                        ],
                        borderColor: [
                           'color:black'
                        ],
                        borderWidth: 4
                    }]
                }
            });
        </script>
        <script>
            let nombresp = [];
            let anticipos = [];
            let nuevaLongitud2;
            let nuevaLongitud3;
        </script>
        <div class="col-md-4" style="margin:30px;">
            <div class="card" style="border: 5px solid #87AAAA; background:#F6EABE;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted" style="text-align: center;">
                        <b class="p1">Comparación entre anticipos</b>
                    </h6>
                    <canvas id="Grafica1" width="1" height="1" aria-label="Proyectos" role="img"></canvas>
                </div>
            </div>
        </div>
        {{#each proyectos}}
        <script>
            nuevaLongitud2 = nombresp.push("{{this.dataValues.namep}}");
            nuevaLongitud3 = anticipos.push({{ this.dataValues.anticipo }});
        </script>
        {{/each}}
        <script>
            let grafica1 = document.getElementById("Grafica1").getContext("2d");
            var chart = new Chart(grafica1, {
                type: "doughnut",
                data: {
                    labels: nombresp,
                    datasets: [{
                        label: "Anticipos por proyecto",
                        data: anticipos,
                        backgroundColor: [
                            'rgba(144	0	32)',
                            'rgba(137	30	53)',
                            'rgba(203	29	17)',
                            'rgba(200	16	35)',
                            'rgba(189	0	47)'
                        ],
                        borderColor: [
                            'color:black'
                        ],
                        borderWidth: 4
                    }]
                }
            });
        </script>
        <script>
            let nombrespr = [];
            let margen = [];
            let nuevaLongitud4;
            let nuevaLongitud5;
        </script>
        <div class="col-md-4" style="margin:30px;">
            <div class="card" style="border: 5px solid #87AAAA; background:#F6EABE;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted" style="text-align: center;">
                        <b class="p1">Margen de ganacia</b>
                    </h6>
                    <canvas id="Grafica2" width="1" height="1" aria-label="Proyectos" role="img"></canvas>
                </div>
            </div>
        </div>
        {{#each proyectos}}
        <script>
            nuevaLongitud4 = nombrespr.push("{{this.dataValues.namep}}");
            nuevaLongitud5 = margen.push((({{ this.dataValues.presupuesto }} - {{ this.dataValues.anticipo }}) / {{ this.dataValues.presupuesto }}) * 100);
        </script>
        {{/each}}
        <script>
            let grafica2 = document.getElementById("Grafica2").getContext("2d");
            var chart = new Chart(grafica2, {
                type: "bar",
                data: {
                    labels: nombrespr,
                    datasets: [{
                        label: "Margen neto",
                        data: margen,
                        backgroundColor: [
                            'rgba(250	128	114)',
                            'rgba(249	143	29)',
                            'rgba(217	147	67)',
                            'rgba(196	98	16)',
                            'rgba(237	170	124)'
                        ],
                        borderColor: [
                            'color:black'
                        ],
                        borderWidth: 4
                    }]
                }
            });
        </script>
    {{else}}
        <div class="card mx-auto">
            <div class="card-body">
                <p class="lead p1" style="text-align: center;">
                    Todavía no has registrado un proyecto
                </p>
            </div>
        </div>
    {{/if}}
    </div>
</div>