<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<div class="body">
    <nav class="nav-extended p1" style="background-color:#87AAAA; ">
        <div class="nav-wrapper p1">
            <a href="#" class=" brand-logo" style="margin-left: 20px; color:black;"><b>Konstructiva app</b></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a style="color:white;" href="/proyecto/lista">Proyectos</a></li>
                <li><a style="color:white;" href="/cliente/lista">Clientes</a></li>
                <li><a style="color:white;" href="/ejecucion/contratost">Ejecucion</a></li>
                <li><a style="color:white;" href="/personal/lista">Personal</a></li>
                <li><a style="color:black;" href="/reportes/info-proyectos">Reportes</a></li>
                <a href="/login" class="btn btn-red"><b>Cerrar sesión</b> </a>

            </ul>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a style="color:black;" href="/reportes/info-proyectos">Información de proyectos</a>
                </li>
                <li class="tab"><a style="color:white;" href="/reportes/info-grafica">Información Gráfica</a>
                </li>
            </ul>
        </div>
    </nav>
    {{#if proyectos}}
    <div class="caja">
        <table class="responsive-table">
            <thead>
                <tr>
                    <th class="p1">Nombre Proyecto</th>
                    <th class="p1">Presupuesto</th>
                    <th class="p1">Anticipos</th>
                    <th class="p1">Saldo</th>

                </tr>
            </thead>
            <tbody>
                {{#each proyectos}}
                <tr>
                    <td><i>{{this.dataValues.namep}}</i></td>
                    <td><i>{{this.dataValues.presupuesto}}</i></td>
                    <td><i>{{this.dataValues.anticipo}}</i></td>
                    <td>{{subtract this.dataValues.presupuesto this.dataValues.anticipo}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{else}}
        <div class="card mx-auto">
            <div class="card-body">
                <p class="lead p1" style="text-align: center;">
                    Todavía no has registrado un proyecto
                </p>
            </div>
        </div>
    {{/if}}
</div>