<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<div class="body">
    <nav class="nav-extended p1" style="background-color:#87AAAA; ">
        <div class="nav-wrapper p1">
            <a href="#" class=" brand-logo" style="margin-left: 20px; color:black;"><b>Konstructiva app</b></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a style="color:white;" href="/proyecto/lista">Proyectos</a></li>
                <li><a style="color:white;" href="/cliente/lista">Clientes</a></li>
                <li><a style="color:black;" href="/ejecucion/contratost">Ejecucion</a></li>
                <li><a style="color:white;" href="collapsible.html">Personal</a></li>
                <li><a style="color:white;" href="/reportes/info-proyectos">Reportes</a></li>
                <li><a href="/login" class="btn btn-red"><b>Cerrar sesión</b> </a></li>
            </ul>
        </div>
        <div class="nav-content p1">
            <ul class="tabs tabs-transparent p1">
                <li class="tab">
                    <a style="color:white;" href="/ejecucion/contratost">Lista de contratos temporales</a>
                </li>
                <li class="tab">
                    <a class="active" style="color:black;" href="/ejecucion/crear-contratost">
                        Crear contrato
                        temporal
                    </a>
                </li>
                <li class="tab"><a style="color:white;" href="/ejecucion/compra">Compras</a></li>
            </ul>
        </div>
    </nav>

    {{#each errors}}
    <div class="ROBOTOSLAB">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{text}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    {{/each}}

    <div class="caja p1">
        <form action="/ejecucion/editar-contratos/{{contratos.dataValues.id}}" method="POST">
            <h5 class="p1" style="color:black; margin-left:15px; margin-top:25px;"> <b>Editar contrato temporal</b></h5>
            <div class="form-group " style="margin:10px;">
                <label class="p1" style="color:black;margin-left: 15px; margin-top:15px;"><b><i>Número</i></b></label>
                <input type="number" style="margin-right:5px;" name="numero" class="form-control" autofocus
                    value="{{contratos.dataValues.numero}}" />
            </div>
            <div class="form-group " style="margin:10px;">
                <label class="p1" style="color:black;margin-left: 15px; margin-top:15px;"><b><i>Nombre del contratista</i></b></label>
                <input type="text" style="margin-right:5px;" name="nombre" class="form-control" 
                    value="{{contratos.dataValues.nombre}}" />
            </div>
            <div class="form-group " style="margin:10px;">
                <label class="p1" style="color:black;margin-left: 15px; margin-top:15px;"><i><b>Cédula</b></i></label>
                <input type="number" style="margin-right:5px;" name="cedula" class="form-control" 
                    value="{{contratos.dataValues.cedula}}" />
            </div>
            <div class="form-group " style="margin:10px;">
                <label class="p1" style="color:black;margin-left: 15px; margin-top:15px;"><i><b>Fecha de inicio del contrato</b></i></label>
                <input type="text" style="margin-right:5px;" name="fecha_inicio" class="datepicker form-control"
                     value="{{contratos.dataValues.fecha_inicio}}" />
            </div>

            <div class="form-group " style="margin:10px;">
                <label class="p1" style="color:black;margin-left: 15px; margin-top:15px;"><b><i>Fecha de finalización del contrato</i></b></label>
                <input type="text" style="margin-right:5px;" name="fecha_fin" class="datepicker form-control" 
                    value="{{contratos.dataValues.fecha_fin}}" />
            </div>

            <div class="form-group " style="margin:10px;">
                <label class="p1" style="color:black;margin-left: 15px; margin-top:15px;"><b><i>Valor</i></b></label>
                <input type="number" style="margin-right:5px;" name="valor" class="form-control" 
                    value="{{contratos.dataValues.valor}}" />
            </div>
            <div class="form-group">
                <button style="color:black;display: block; margin: 0 auto; margin-top:30px; margin-bottom:25px;"
                    class="btn btn-brown btn-block" type="submit">
                    <b class="p1">Editar</b>
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('.datepicker').datepicker();
    });
</script>