<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<div class="body">
    <nav class="nav-extended" style="background-color:#87AAAA; ">
        <div class="nav-wrapper">
            <a href="#" class=" brand-logo" style="margin-left: 20px; color:black;">Konstructiva app</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a style="color:white;" href="/proyecto/lista">Proyectos</a></li>
                <li><a style="color:white;" href="/cliente/lista">Clientes</a></li>
                <li><a style="color:rgb(255, 255, 255);" href="/ejecucion/personalt">Ejecucion</a></li>
                <li><a style="color:rgb(0, 0, 0);" href="/personal/lista">Personal</a></li>
                <li><a style="color:white;" href="/reportes/info-proyectos">Reportes</a></li>
                <li><a href="/login" class="btn btn-red">Cerrar sesión </a></li>
</ul>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab">
                    <a style="color:rgb(255, 255, 255);" href="/personal/lista">Lista de personal</a>
                </li>
                <li class="tab">
                    <a class="active" style="color:white;" href="/personal/add">
                        Crear nuevo personal
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    {{#each errors}}
    <div class="ROBOTOSLAB">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{text}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    {{/each}}

    <div class="row" style="background-color: #F6D7A7;">
        <div class="col-md-4 mx-auto">
            <div class="card" style="border: 5px solid #87AAAA; background:#F6EABE;">
                <div class="card-header">
                    <h3>Editar Personal</h3>
                </div>
                <div class="card-body">
                    <form action="/personal/editar-personal/{{personal.dataValues.id}}" method="POST">
                        <input type="hidden" name="_method" value="PUT">

                        <div class="form-group " style="margin:10px;">
                            <label style="margin-left: 15px; margin-top:15px;">Numero</label>
                            <input type="number" style="margin-right:5px;" name="numero" class="form-control" autofocus
                                   value="{{personal.dataValues.numero}}" />
                        </div>

                        <div class="form-group " style="margin:10px;">
                            <label style="margin-left: 15px; margin-top:15px;">Nombre</label>
                            <input type="text" style="margin-right:5px;" name="nombre" class="form-control" autofocus
                                   value="{{personal.dataValues.nombre}}" />
                        </div>

                        <div class="form-group " style="margin:10px;">
                            <label style="margin-left: 15px; margin-top:15px;">Cedula</label>
                            <input type="number" style="margin-right:5px;" name="cedula" class="form-control" autofocus
                                   value="{{personal.dataValues.cedula}}" />
                        </div>

                        <div class="form-group " style="margin:10px;">
                            <label style="margin-left: 15px; margin-top:15px;">Profesion</label>
                            <input type="text" style="margin-right:5px;" name="profesion" class="form-control" autofocus
                                   value="{{personal.dataValues.profesion}}" />
                        </div>


                        <div class="form-group " style="margin:10px;">
                            <label style="margin-left: 15px; margin-top:15px;">Valor</label>
                            <input type="number" style="margin-right:5px;" name="valor" class="form-control" autofocus
                                   value="{{personal.dataValues.valor}}" />
                        </div>





                        <div class="form-group">
                            <button style="color:black;display: block; margin: 0 auto; margin-top:30px; margin-bottom:25px;"
                                    class="btn btn-brown2 btn-block" type="submit">
                                Editar
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('.datepicker').datepicker();
    });
</script>