<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<div class="body">
    <nav class="nav-extended" style="background-color:#87AAAA; ">
        <div class="nav-wrapper">
            <a href="#" class=" brand-logo" style="margin-left: 20px; color:black;">Konstructiva app</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a style="color:white;" href="/proyecto/lista">Proyectos</a></li>
                <li><a style="color:white;" href="/cliente/lista">Clientes</a></li>
                <li><a style="color:rgb(255, 255, 255);" href="/ejecucion/contratost">Ejecucion</a></li>
                <li><a style="color:rgb(0, 0, 0);" href="/personal/lista">Personal</a></li>
                <li><a style="color:white;" href="/reportes/info-proyectos">Reportes</a></li>
                <a href="/login" class="btn btn-red">Cerrar sesión </a>
            </ul>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab">
                    <a style="color:rgb(255, 255, 255);" href="/personal/lista">Lista de personal</a>
                </li>
                <li class="tab">
                    <a class="active" style="color:white;" href="/personal/add">
                        Crear nuevo personal
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    {{#each errors}}
    <div class="ROBOTOSLAB">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{text}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    {{/each}}

    <div class="row" style="background-color: #F6D7A7;">
        {{#each proyectos}}
        <div class="col-md-3" style="margin:30px">
            <div class="card" style="border: 5px solid #87AAAA; background:#F6EABE;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">
                        Nombre Proyecto :
                    </h6>
                    <p>
                        {{this.dataValues.namep}}
                    </p>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Fecha Inicio :
                    </h6>
                    <p>
                        {{this.dataValues.fecha_inicio}}
                    </p>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Fecha Fin :
                    </h6>
                    <p>
                        {{this.dataValues.fecha_fin}}
                    </p>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Presupuesto :
                    </h6>
                    <p>
                        {{this.dataValues.presupuesto}}
                    </p>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Anticipos :
                    </h6>
                    <p>
                        {{this.dataValues.anticipo}}
                    </p>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Saldo :
                    </h6>

                    <p>
                        {{subtract this.dataValues.presupuesto this.dataValues.anticipo}}
                    </p>

                    <center>
                        <a href="/personal/{{../id_personal}}/asignar/{{this.dataValues.id}}" style="color: black;" class="btn btn-brown2 btn-lg"
                           type="submit">
                            Asignar
                        </a>
                    </center>
                </div>
            </div>
        </div>
        {{else}}
        <center>
            <div class="card mx-auto">
                <div class="card-body">
                    <p class="lead" style="text-align: center;">
                        Todavía no has creado un proyecto
                    </p>
                    <a href="/proyecto/add" class="btn btn-or btn-block">
                        Crear un proyecto
                    </a>
                </div>
            </div>
    </div>
    </center>
    {{/each}}
</div>
</div>