<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<div class="body">
    <nav class="nav-extended p1" style="background-color:#87AAAA; ">
        <div class="nav-wrapper p1">
            <a href="#" class=" brand-logo" style="margin-left: 20px; color:black;"><b>Konstructiva app</b></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a style="color:white;" href="/proyecto/lista">Proyectos</a></li>
                <li><a style="color:white;" href="/cliente/lista">Clientes</a></li>
                <li><a style="color:rgb(255, 255, 255);" href="/ejecucion/contratost">Ejecucion</a></li>
                <li><a style="color:rgb(0, 0, 0);" href="/personal/lista">Personal</a></li>
                <li><a style="color:white;" href="/reportes/info-proyectos">Reportes</a></li>
                <li><a href="/login" class="btn btn-red"><b>Cerrar sesión</b> </a></li>

            </ul>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab">
                    <a style="color:black;" href="/personal/lista">Lista de personal</a>
                </li>
                <li class="tab">
                    <a class="active" style="color:white;" href="/personal/add">
                        Crear nuevo personal
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row" style="background-color: #F6D7A7;">
        {{#each personal}}
        <div class="col-md-3" style="margin:30px;">
            <div class="card" style="border: 5px solid #87AAAA; background:#F6EABE;">
                <div class="p1 card-body">
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b>Numero del contrato</b>
                    </h6>
                    <p>
                        <i>{{this.dataValues.numero}}</i>
                    </p>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b>Nombre del personal</b>
                    </h6>
                    <p>
                        <i>{{this.dataValues.nombre}}</i>
                    </p>
                    <p>
                    </p>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b>Cédula</b>
                    </h6>
                    <p>
                        <i>{{this.dataValues.cedula}}</i>
                    </p>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b>Profesión</b>
                    </h6>
                    <p>
                        <i>{{this.dataValues.profesion}}</i>
                    </p>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b>Valor</b>
                    </h6>
                    <p>
                        <i>{{this.dataValues.valor}}</i>
                    </p>

                    <h6 class="card-subtitle mb-2 text-muted" style="color: black;">
                        <b>Proyecto Asignado</b>
                    </h6>

                    <p>
                        {{#if this.dataValues.proyecto}}
                        {{this.dataValues.proyecto.dataValues.namep}}
                        {{else}}
                        No hay un proyecto asignado
                        {{/if}}
                    </p>
                    <center>
                        <a href="/personal/modificar/{{this.dataValues.id}}" class="p1 btn btn-brown1 btn-lg"
                            style="color:black; margin-top:15px; margin-bottom:14px;width:190px; height:38px"
                            type="submit">
                            <b>Editar</b>
                        </a>
                    </center>
                    <center>
                        <form action="/personal/eliminar/{{this.dataValues.id}}?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button
                                style="color:black; block;margin-top:5px; margin-bottom:14px;width:190px; height:38px"
                                class="p1 btn btn-brown2 btn-block" type="submit">
                                <b>Eliminar</b>
                            </button>
                        </form>
                    </center>
                    <center>
                        <p>
                            {{#if this.dataValues.proyecto}}
                            {{else}}
                            <button onclick="window.location.href='/personal/{{this.dataValues.id}}/asignar'"
                                style="color:black; display: block; margin: 0 auto; margin-top:15px; margin-bottom:14px;width:190px; height:38px"
                                class="btn btn-brown" type="submit">
                                <b class="p1">Asignar proyecto</b>
                            </button>
                            {{/if}}
                        </p>
                    </center>
                </div>
            </div>
        </div>
        {{else}}

        <div class="p1 card mx-auto">
            <div class="card-body">
                <p class="lead" style="text-align: center;">
                    Todavía no has creado un personal
                </p>
                <a href="/personal/add" class="btn btn-or btn-block">
                    Crear un personal
                </a>
            </div>
        </div>
    </div>

    {{/each}}
</div>