<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<div class="body">
    <nav class="nav-extended" style="background-color:#87AAAA; ">
        <div class="nav-wrapper">
            <a href="#" class=" brand-logo" style="margin-left: 20px; color:black;"><b class="p1">Konstructiva
                    app</b></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="p1" style="color:black;" href="/proyecto/lista">Proyectos</a></li>
                <li><a class="p1" style="color:white;" href="/cliente/lista">Clientes</a></li>
                <li><a class="p1" style="color:white;" href="/ejecucion/contratost">Ejecucion</a></li>
                <li><a class="p1" style="color:white;" href="collapsible.html">Personal</a></li>
                <li><a class="p1" style="color:white;" href="/reportes/info-proyectos">Reportes</a></li>
                <a href="/login" class="btn btn-red p1">Cerrar sesión </a>

            </ul>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab p1"><a style="color:black;" href="/proyecto/lista">Lista de proyectos</a></li>
                <li class="tab p1"><a class="active" style="color:white;" href="/proyecto/add">Crear</a></li>
            </ul>
        </div>
    </nav>

    <div class="row" style="background-color: #F6D7A7;">
        {{#each proyectos}}
        <div class="col-md-3" style="margin:30px;">
            <div class="card" style="border: 5px solid #87AAAA; background:#F6EABE;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b class="p1">Nombre Proyecto </b>
                    </h6>
                    <p>
                        <i class="p1">{{this.dataValues.namep}}</i>
                    </p>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b class="p1">Nombre Cliente</b>
                    </h6>
                    <p>
                        {{#if this.dataValues.cliente}}
                        <i class="p1">{{this.dataValues.cliente.dataValues.nombre}}</i>
                        {{else}}
                        <i class="p1">No hay ningún cliente asignado</i>
                        {{/if}}
                    </p>
                    <!-- ARREGLAR
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b class="p1">Contrato Temporal</b>
                    </h6>
                    <p>
                        {{#if this.dataValues.contratos}}
                        <i class="p1" {{this.dataValues.contratos.dataValues.nombre}}</i>
                            {{else}}
                            <i class="p1">No hay ningún contrato asignado</i>
                            {{/if}}
                    </p> -->
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b class="p1">Fecha de incio</b>
                    </h6>
                    <p>
                        <i>{{this.dataValues.fecha_inicio}}</i>
                    </p>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b class="p1">Fecha de finalización</b>
                    </h6>
                    <p>
                        <i class="p1">{{this.dataValues.fecha_fin}}</i>
                    </p>
                    <center>
                        <button onclick="window.location.href='/proyecto/modificar/{{this.dataValues.id}}'"
                            style="color:black; display: block; margin: 0 auto; margin-top:15px; margin-bottom:14px;width:120px; height:38px"
                            class="btn btn-brown1" type="submit">
                            <b class="p1">Editar</b>
                        </button>
                    </center>
                    <center>
                        <form action="/proyecto/eliminar/{{this.dataValues.id}}?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button
                                style="color:black; display: block; margin: 0 auto; margin-top:15px;margin-bottom:14px;width:120px; height:38px"
                                class="btn btn-brown2 btn-block" type="submit">
                                <b class="p1">Eliminar</b>
                            </button>
                        </form>
                    </center>
                    <center>
                        <form action="/proyecto/anticipos/{{this.dataValues.id}}">
                            <button
                                style="color:black; display: block; margin: 0 auto; margin-bottom:10px;width:120px; height:38px"
                                class="btn btn-brown btn-block" type="submit">
                                <b class="p1">Anticipos</b>
                            </button>
                        </form>
                    </center>
                </div>
            </div>
        </div>
        {{else}}
        <center>
            <div class="card mx-auto">
                <div class="card-body">
                    <p class="lead p1" style="text-align: center;">
                        Todavía no has registrado un proyecto
                    </p>
                    <a href="/proyecto/add" style="color:black" class="p1 btn btn-brown2 btn-block">
                        <b>Crear un proyecto</b>
                    </a>
                </div>
            </div>
    </div>
</div>
{{/each}}
</div>